src/main/app/queuereceivers/process_queue_message.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <flow name="process_queue_messageFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="/CustomerSyncQueue" connector-ref="QueueConnector" doc:name="CustomerSync Queue"/>
        <set-variable variableName="logprefix" value="#[java.util.UUID.randomUUID().toString()]" doc:name="logprefix - Variable"/>
        <logger message="#[flowVars.logprefix] : Message received." level="INFO" doc:name="Log Message received."/>
      
      
        <!-- This can be a single or a bulk processing strategy that cab be used -->
        
        
         <logger message="#[flowVars.logprefix] : Downstream system processing started." level="INFO" doc:name="Downstream system processing started."/>
        <set-payload value="COMPLETED" doc:name="Set Payload"/>
    </flow>
</mule>
