src/main/app/subflows/listcustomers.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">



	<flow name="listcustomerFlow">
		<logger message="#[flowVars.logprefix] - LIST" level="INFO"
			doc:name="Log - LIST" />

		<!-- This is a bean class is only used as a facade to hide the DB processing 
			in this POC. This class will take care of all the Database processing operations -->

		<invoke object-ref="zingDBFacade" method="getCustomers"
			doc:name="DBFacade for DB processing" />


		<logger message="#[flowVars.logprefix] - getCustomers result returned"
			level="INFO" doc:name="Log getCustomers result returned" />
	</flow>
</mule>
