src/main/app/subflows/pushToCustomerQueue.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	
	<flow name="pushToCustomerQueueFlow">
		<set-variable variableName="logprefix"
			value="#[java.util.UUID.randomUUID().toString()]" doc:name="logprefix - Variable" />
		
		<!-- Place the customer udpates to the queue for the target system to process the updates  -->
		
		<vm:outbound-endpoint exchange-pattern="one-way"
			path="/CustomerSyncQueue" connector-ref="QueueConnector" doc:name="/CustomerSyncQueue" />
		<logger message="#[flowVars.logprefix] - Pushed to Q" level="INFO"
			doc:name="Pushed to Q" />
	</flow>
	
</mule>
