src/main/app/subflows/putcustomer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
<flow name="putcustomerFlow">
        <logger message="#[flowVars.logprefix] - PUT" level="INFO" doc:name="Logger"/>
        <set-variable variableName="key"
                  value="#[message.inboundProperties.'http.uri.params'.id]" 
                  doc:name="Variable"/>
        <logger message="#[flowVars.logprefix] - Key - #[flowVars.key]" level="INFO" doc:name="Log key"/>
        <json:json-to-object-transformer returnClass="au.com.zing.Customer" doc:name="JSON to Object"/>
         <invoke object-ref="zingDBFacade" method="updateCustomer" doc:name="DBFacade for DB processing" methodArguments="#[flowVars.key],#[payload]"/>
        <scripting:component doc:name="Script">
            <scripting:script engine="Groovy"><![CDATA[if(payload instanceof org.mule.transport.NullPayload){
 throw new org.mule.module.apikit.exception.NotFoundException("Does not exist!");
 }
	]]></scripting:script>
        </scripting:component>
        <set-payload value="#[flowVars.key]" doc:name="Set Payload"/>
        <flow-ref name="pushToCustomerQueueFlow" doc:name="Flow Ref- PUSH TO QUEUE FOR sync"/>
        <logger message="#[flowVars.logprefix] - update customer completed" level="INFO" doc:name="Log Completed"/>
    </flow>
</mule>
