src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
    
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <set-variable variableName="logprefix" value="#[message.rootId] - #[message.inboundProperties.'http.request.path']" doc:name="logprefix - Variable"/>
        <logger message="#[flowVars.logprefix] : Request received." level="INFO" doc:name="Logger"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
   
    <flow name="delete:/v1/customers/{id}:api-config">
        <logger message="#[flowVars.logprefix] -#[message.inboundProperties.'http.method']" level="INFO" doc:name="Logger"/>
        <flow-ref name="deletecustomerFlow" doc:name="deletecustomerFlow"/>
    </flow>
     <flow name="put:/v1/customers/{id}:api-config">
        <logger level="INFO" doc:name="Logger" message="#[flowVars.logprefix] -#[message.inboundProperties.'http.method']"/>
        <flow-ref name="putcustomerFlow" doc:name="putcustomerFlow"/>
    </flow>
    <flow name="patch:/v1/customers/{id}:api-config">
        <logger message="#[flowVars.logprefix] #[message.inboundProperties.'http.method']" level="INFO" doc:name="Logger"/>
        <flow-ref name="patchcustomerFlow" doc:name="patchcustomerFlow"/>
    </flow>
    <flow name="get:/v1/customers:api-config">
        <logger message="#[flowVars.logprefix] -#[message.inboundProperties.'http.method']" level="INFO" doc:name="Logger"/>
        <flow-ref name="listcustomerFlow" doc:name="listcustomerFlow"/>
    </flow>
    <flow name="get:/v1/customers/{id}:api-config">
        <logger message="#[flowVars.logprefix] -#[message.inboundProperties.'http.method']" level="INFO" doc:name="Logger"/>
        <flow-ref name="getcustomerFlow" doc:name="getcustomerFlow"/>
    </flow>
    <flow name="post:/v1/customers:application/json:api-config">
        <logger message="#[flowVars.logprefix] #[message.inboundProperties.'http.method']" level="INFO" doc:name="Logger"/>
        <flow-ref name="postcustomerFlow" doc:name="postcustomerFlow"/>
    </flow>
   
</mule>
